<template>
  <div class="container">
    <div class="hero-head">
      <header class="navbar">
        <div class="navbar-brand" v-if="true">
          <button @click="this.back" class="navbar-item button is-small is-info is-light">Cancelar</button>
        </div>
      </header>
    </div>
    <form @submit.prevent class="form-register" v-if="true">
      <picture>
        <img :src="this.formEdit.urlImage" v-if="this.formEdit.urlImage" />
        <img :src="this.user.foto" v-else-if="this.user.foto" />
        <img src="@/assets/no-profile-pic.png" v-else />
      </picture>
      <input
        accept="image/x-png, image/jpg, image/jpeg"
        class="inputfile"
        data-max-size="512"
        id="file"
        name="file"
        ref="file"
        type="file"
        v-on:change="this.handleFileUpload"
      />
      <label class="button is-light is-small" for="file">
        Selecione uma foto
        <strong>! menor que 512kb</strong>
      </label>
      <br />
      <br />
      <div class="control has-icons-left">
        <input
          :value="user.nome"
          @change="this.onNameChanged"
          class="input is-link"
          placeholder="seu nome"
          type="text"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <div class="control has-icons-left">
        <input
          :value="this.formEdit.sobrenome ? this.formEdit.sobrenome : this.user.sobrenome"
          @change="this.onSurnameChanged"
          class="input is-link"
          placeholder="seu sobrenome"
          type="text"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <div class="control has-icons-left">
        <input
          :value="this.formEdit.email ? this.formEdit.email : this.user.email"
          @change="this.onEmailChanged"
          class="input is-link"
          placeholder="seu email"
          type="email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
      <div class="control has-icons-left">
        <input
          :value="this.formEdit.telefone ? this.formEdit.telefone : this.user.telefone"
          @change="this.onPhoneChanged"
          class="input is-link"
          placeholder="seu telefone"
          type="text"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-phone"></i>
        </span>
      </div>
      <div class="control has-icons-left">
        <input
          :value="this.formEdit.celular ? this.formEdit.celular : this.user.celular"
          @change="this.onCellPhoneChanged"
          class="input is-link"
          placeholder="seu telefone"
          type="text"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-phone"></i>
        </span>
      </div>

      <hr />
      <span style="font-weight: 200">Para alterar a senha digite a atual.</span>
      <div class="control has-icons-left">
        <input
          :value="this.formEdit.oldPass ? this.formEdit.oldPass : this.user.senha"
          @change="this.onOldPasswordChanged"
          autocomplete
          class="input is-link"
          placeholder="senha antiga"
          type="password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <div class="control has-icons-left" v-if="isMatchOldPass">
        <input
          :value="this.formEdit.newPass ? this.formEdit.newPass : this.user.senha"
          @change="this.onNewPasswordChanged"
          autocomplete
          class="input is-link"
          placeholder="nova senha"
          type="password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
      <progress class="progress is-small is-info" max="100" style="width: 70vw" v-if="isLoading">60%</progress>
      <div
        class="action-buttons"
        v-if="!isLoading && isMatchOldPass || this.formEdit.oldPass == null"
      >
        <button @click="update" class="button is-link">Alterar</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'ProfileEdit',
  computed: {
    ...mapState('UserModule', [
      'formEdit',
      'user',
      'isLoading',
      'isMatchOldPass'
    ])
  },
  methods: {
    ...mapActions('UserModule', [
      'changeEditingState',
      'handleFileUpload',
      'onNameChanged',
      'onSurnameChanged',
      'onEmailChanged',
      'onCellPhoneChanged',
      'onPhoneChanged',
      'onOldPasswordChanged',
      'onNewPasswordChanged',
      'onPasswordConfirmChanged',
      'update',
      'getUserInfo',
      'resetState',
      'resetFormState'
    ]),
    back: function() {
      this.$router.back()
    }
  },
  destroyed: function() {
    this.getUserInfo()
    this.resetFormState()
  }
}
</script>

<style lang="scss" scoped>
header {
  padding: 25px 0;
}
.logo {
  display: none;
}
.form-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50%;
  .control {
    width: 320px;
  }
  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  .field {
    width: 100%;
  }
  label {
    text-align: initial;
  }
  input {
    border: none;
    box-shadow: none;
  }
  button {
    margin-top: 50px;
    width: 140px;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
  }
}
.back-button {
  position: absolute !important;
  top: 20px;
  left: 20px;
}
progress {
  max-width: 220px;
}
@media (max-width: 770px) {
  .logo {
    display: initial;
    img {
      height: 100px;
    }
  }
}
</style>
