<template>
  <div class="hero is-fullheight columns"
    >
    <div class="columns">
      <section class="l-side column">
        <picture>
          <img src="@/assets/full-logo.png" alt />
        </picture>
      </section>
      <section class="hero is-fullheight r-side column">
        <router-view/>
      </section>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Main'
}
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  margin: 0 !important;
}
.l-side,
.r-side {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-side{
  background: #0A73CC;
}
.r-side {
  background: white;
  box-shadow: -15px 0px 30px rgba(0, 0, 0, 0.15);
}
@media (max-width: 770px) {
  .l-side {
    display: none;
  }
}
</style>
