<template>
  <div style="overflow-y: auto">
    <div v-if="this.companies.lenght === 0">No momento você não possui empresa</div>
    <div v-if="this.pageRouteName === 'companies'">
      <div class="hero-head">
        <div class="navbar">
          <h1 class="title">Projetos</h1>
          <span @click="navToPageNewCompany" class="button icon">
            <i class="fas fa-plus"></i>
          </span>
        </div>
      </div>
      <div>
        <div class="list-companies">
          <company
            :company="company"
            :index="index"
            :key="index"
            v-for="(company, index) in this.companies"
          />
        </div>
      </div>
    </div>
    <new-company v-if="this.pageRouteName === 'newCompany'" />
    <edit-company v-if="this.pageRouteName === 'editCompany'" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Company from './info'
import NewCompany from './create'
import EditCompany from './edit'
export default {
  name: 'Companies',
  components: {
    Company,
    NewCompany,
    EditCompany
  },
  computed: {
    ...mapState('CompaniesModule', ['companies', 'pageRouteName'])
  },
  methods: {
    ...mapActions('CompaniesModule', [
      'getAllCompanies',
      'navToPageName',
      'resetState'
    ]),
    navToPageNewCompany: function() {
      this.navToPageName('newCompany')
    }
  },
  mounted: function() {
    this.getAllCompanies()
  },
  destroyed: function() {
    this.resetState()
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.list-companies {
  display: flex;
  flex-wrap: wrap;
}
.button {
  border: none !important;
}
</style>
