<template>
  <div class="hero-body">
    <user-wireframe v-if="this.isLoading" />
    <div class="container" v-else>
      <figure class="image is-128x128" style="margin: 0 auto">
        <img alt class="is-rounded" src="@/assets/no-profile-pic.png" v-if="!user.foto" />
        <img :src="this.user.foto" class="is-rounded" v-else />
      </figure>
      <router-link class="button is-small is-link" to="/profile/edit">
        <span class="icon is-small is-left">
          <i class="fas fa-edit"></i>
        </span>
        <span>Editar</span>
      </router-link>
      <h1 class="title">{{this.user.nome}} {{this.user.sobrenome}}</h1>
      <h2 class="subtitle">{{this.user.email}}</h2>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import UserWireframe from './../views/wireframe'
export default {
  name: 'User',
  components: {
    UserWireframe
  },
  computed: {
    ...mapState('UserModule', ['user', 'isLoading'])
  },
  methods: {
    ...mapActions('UserModule', ['getUserInfo'])
  },
  mounted: function() {
    this.getUserInfo()
  }
}
</script>

<style lang="scss" scoped>
.container {
  .button {
    display: block;
    margin: 10px auto;
    max-width: 120px;
  }
}
.title,
.subtitle {
  text-align: center;
}
</style>
