<template>
  <div class="container">
    <figure class="image is-128x128" style="margin: 0 auto">
      <img class="is-rounded" src="@/assets/no-profile-pic.png" />
    </figure>
    <h1 class="title"></h1>
    <h2 class="subtitle"></h2>
  </div>
</template>

<script>
export default {
  name: 'UserWireframe'
}
</script>

<style lang="scss" scoped>
.title,
.subtitle {
  display: block !important;
  width: 200px;
  height: 20px;
  margin: 5px auto;
  text-align: center;
  background: #e3e3e3;
}
</style>
