<template>
  <router-link
    :to="{name:'customer.diagnostics', params:{id:customer.id_cliente, customer: customer.nome_empresa}}"
    class="card-customer"
  >
    <figure>
      <img alt src="@/assets/no-company-picture.png" v-if="!customer.logo_empresa" />
      <img :src="customer.logo_empresa" alt v-else />
    </figure>
    <div class="card-content">
      <div>
        <h2>{{customer.nome_empresa}}</h2>
        <h4>Responsável: {{customer.nome_responsavel}}</h4>
      </div>
      <div>
        <h4>{{customer.segmento}}</h4>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'CardCustomer',
  props: {
    index: Number,
    customer: Object
  }
}
</script>

<style lang="scss" scoped>
.card-customer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100px;
  width: 100%;
  max-width: 350px;
  margin: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  @media (max-width: 820px) {
    & {
      max-width: 100%;
    }
  }
  figure {
    width: 100px;
    height: 100px;
    img {
      border-radius: 5px;
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 16px;
    color: #a3a3a3;
  }

  h4 {
    font-weight: 300;
    font-size: 14px;
    color: #a3a3a3;
  }

  .card-content {
    padding: 0.5rem !important;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    .card-action-position {
      display: flex;
      justify-content: flex-end;

      .button {
        border: none !important;
        z-index: 2;
      }
    }
  }
}
</style>
