<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta name="theme-color" content="#1565c0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link
      rel="icon"
      href="https://growpany.com/wp-content/uploads/2019/07/cropped-Favicon.growpany-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="https://growpany.com/wp-content/uploads/2019/07/cropped-Favicon.growpany-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="https://growpany.com/wp-content/uploads/2019/07/cropped-Favicon.growpany-180x180.png"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    /> -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Cadastro- Growpany</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <script
      defer=""
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
