<template>
  <div class="hero is-fullheight">
    <div class="hero-head">
      <header class="navbar">
        <div class="navbar-brand" v-if="!this.isLoading">
          <router-link class="navbar-item button is-small is-info is-light" to="/">Voltar</router-link>
        </div>
      </header>
    </div>
    <div class="hero-body is-fullheight-with-navbar">
      <progress
        class="progress is-large is-info"
        max="100"
        style="width: 100%"
        v-if="this.isLoading"
      >60%</progress>
      <form @submit.prevent class="form-register" v-if="this.isLoading == false">
        <picture>
          <img :src="this.urlImage" v-if="this.urlImage" />
          <img src="@/assets/no-profile-pic.png" v-if="!urlImage" />
        </picture>
        <input
          accept="image/x-png, image/jpg, image/jpeg"
          class="inputfile"
          data-max-size="512"
          id="file"
          name="file"
          ref="file"
          type="file"
          v-on:change="this.handleFileUpload"
        />
        <label class="button is-light" for="file">
          Selecione uma foto
          <strong>! menor que 512kb</strong>
        </label>
        <br />
        <br />
        <div class="field" v-if="this.formIndex == 0">
          <div class="control has-icons-left">
            <input
              :value="this.form.nome"
              @change="this.onNameChanged"
              class="input is-link"
              placeholder="seu nome"
              type="text"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field" v-if="this.formIndex == 0">
          <div class="control has-icons-left">
            <input
              :value="this.form.sobrenome"
              @change="this.onSurnameChanged"
              class="input is-link"
              placeholder="seu sobrenome"
              type="text"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field" v-if="this.formIndex == 0">
          <div class="control has-icons-left">
            <input
              :value="this.form.email"
              @change="this.onEmailChanged"
              class="input is-link"
              placeholder="seu email"
              type="email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field" v-if="this.formIndex == 1">
          <label class="label is-small">Contato</label>
          <div class="control has-icons-left">
            <input
              :value="this.form.telefone"
              @change="this.onPhoneChanged"
              class="input is-link"
              placeholder="seu telefone"
              type="number"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </div>
        </div>
        <div class="field" v-if="this.formIndex == 1">
          <div class="control has-icons-left">
            <input
              :value="this.form.celular"
              @change="this.onCellPhoneChanged"
              class="input is-link"
              placeholder="seu telefone"
              type="number"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </div>
        </div>
        <div class="field" v-if="this.formIndex == 2">
          <label class="label is-small">Senha</label>
          <div class="control has-icons-left">
            <input
              :value="this.form.senha"
              @change="this.onPasswordChanged"
              autocomplete="new-password"
              class="input is-link"
              placeholder="sua senha"
              type="password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field" v-if="this.formIndex == 2">
          <div class="control has-icons-left">
            <input
              :class="[this.isMatchPassword == true? 'is-link':'is-danger']"
              :value="this.form.confirmPass"
              @change="this.onPasswordConfirmChanged"
              autocomplete="new-password"
              class="input"
              placeholder="confirme sua senha"
              type="password"
            />
            <span class="icon is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          <p class="help is-danger" v-if="this.isMatchPassword === false">As senhas não conferem</p>
        </div>
        <div class="action-buttons">
          <button
            @click="this.previewForm"
            class="button is-link is-light"
            v-if="this.formIndex > 0"
          >Anterior</button>
          <button
            @click="this.nextForm"
            class="button is-link is-light"
            v-if="this.formIndex < 2 && this.isValidForm"
          >Próximo</button>
          <button
            @click="this._save"
            class="button is-link"
            v-if="this.isValidForm && this.isMatchPassword && this.formIndex == 2"
          >Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
export default {
  name: 'Register',
  computed: {
    ...mapState('RegisterModule', ['isLoading', 'urlImage', 'form']),
    ...mapGetters('RegisterModule', [
      'formIndex',
      'isValidForm',
      'isMatchPassword'
    ])
  },
  methods: {
    ...mapActions('MainModule', ['navToBack', 'navToLogin']),
    ...mapActions('RegisterModule', [
      'nextForm',
      'previewForm',
      'handleFileUpload',
      'onNameChanged',
      'onSurnameChanged',
      'onEmailChanged',
      'onCellPhoneChanged',
      'onPhoneChanged',
      'onPasswordChanged',
      'onPasswordConfirmChanged',
      'save',
      'resetState'
    ]),
    _save: async function() {
      await this.save()
        .then(success => {
          if (success) {
            this.$router.back()
          }
        })
        .catch(_ => {})
    }
  },
  destroyed: function() {
    this.resetState()
  }
}
</script>

<style lang="scss" scoped>
header {
  padding: 25px 0;
}
.logo {
  display: none;
}
.form-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50%;

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  .field {
    width: 100%;
  }
  label {
    text-align: initial;
  }
  input {
    border: none;
    box-shadow: none;
  }
  button {
    margin-top: 50px;
    width: 140px;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
  }
}
.back-button {
  position: absolute !important;
  top: 20px;
  left: 20px;
}

@media (max-width: 770px) {
  .logo {
    display: initial;
    img {
      height: 100px;
    }
  }
}
</style>
