<template>
  <div style="overflow-y: auto; max-height:100vh">
    <h1 v-if="this.diagnostics === Array">Tela exclusiva paa consultores!</h1>
    <h2 v-if="this.diagnostics === Array">Nenhum diagnóstico no momento!</h2>
    <table v-else>
      <thead>
        <td>ID</td>
        <td>Pergunta</td>
        <td>Resposta</td>
      </thead>
      <tbody>
        <tr
          :class="{row_dark: index%2==0}"
          :key="index"
          v-for="(diagnostic, index) in this.diagnostics"
        >
          <td>{{index+1}}</td>
          <td>{{diagnostic.questao}}</td>
          <td>{{diagnostic.resposta?diagnostic.resposta:diagnostic.opcao}}</td>
        </tr>
      </tbody>
    </table>
    <button @click="this.exportTableToCSV" v-if="this.diagnostics != Array">Exportar para CSV</button>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
  name: 'CustomerDiagnostics',
  computed: {
    ...mapState('CustomerDiagnosticsModule', ['diagnostics', 'customer'])
  },
  methods: {
    ...mapActions('CustomerDiagnosticsModule', ['getDiagnostics']),
    ...mapMutations('CustomDiagnosticsModule', ['resetState']),
    _downloadCSV: function(csv, filename) {
      var downloadLink

      // CSV file
      const csvFile = new Blob([csv], { type: 'text/csv' })
      downloadLink = document.createElement('a')
      downloadLink.download = filename
      downloadLink.href = window.URL.createObjectURL(csvFile)
      downloadLink.style.display = 'none'
      document.body.appendChild(downloadLink)
      downloadLink.click()
    },
    exportTableToCSV: function() {
      var filename = `${this.$route.params.customer}-diagnosticos.csv`
      console.log(filename)
      var csv = []
      // var rows = document.querySelectorAll('tbody tr')
      csv.push('index;questao;resposta;')
      for (var i = 0; i < this.diagnostics.length; i++) {
        csv.push(
          `${i + 1};${this.diagnostics[i].questao};${this.diagnostics[i]
            .resposta ?? this.diagnostics[i].opcao}`
        )
      }
      // Download CSV file
      this._downloadCSV(csv.join('\n'), filename)
    }
  },
  mounted() {
    this.getDiagnostics({
      id: this.$route.params.id,
      customer: this.$route.params.customer
    })
  },
  destroyed() {
    this.$store.commit('CustomerDiagnosticsModule/resetState', { root: true })
  }
}
</script>

<style lang="scss" scoped>
thead {
  td {
    text-align: center;
    font-weight: 600;
  }
}
td {
  padding: 10px 20px;
}
button {
  cursor: pointer;
  display: block;
  margin: 10px auto;
  background: #343434;
  color: white;
  padding: 10px 20px;
  border: none;
}
.row_dark {
  background: #1565c00c;
}
</style>
