<template>
  <div class="hero is-fullheight">
    <div class="hero-head">
      <header class="navbar">
        <div class="navbar-brand">
          <router-link class="navbar-item button is-small is-info is-light" to="/">Voltar</router-link>
        </div>
      </header>
    </div>
    <div class="hero-body is-fullheight">
      <form @submit.prevent class="form-login">
        <div class="field">
          <div class="control has-icons-left">
            <input
              @change="this.inputEmail"
              autocomplete="username"
              class="input is-link"
              name="email"
              placeholder="seu email"
              type="email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            <input
              :value="this.auth.password"
              @change="this.inputPassword"
              autocomplete="current-password"
              class="input is-link"
              name="password"
              placeholder="sua senha"
              type="password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <progress
          class="progress is-small is-info"
          max="100"
          style="width: 70vw"
          v-if="isLoading"
        >60%</progress>
        <button @click="this._actionLogin" class="button is-link" v-else>Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  name: 'Login',
  computed: {
    ...mapState('AuthModule', ['isLoading', 'auth'])
  },
  methods: {
    ...mapActions('MainModule', ['navToBack']),
    ...mapActions('AuthModule', [
      'inputEmail',
      'inputPassword',
      'actionLogin',
      'resetState'
    ]),
    _actionLogin: async function() {
      this.actionLogin()
        .then(result => {
          if (result) this.$router.replace({ name: 'userboard' })
        })
        .catch(_ => {})
    }
  },
  destroyed: function() {
    this.resetState()
  }
}
</script>

<style lang="scss" scoped>
header {
  padding: 25px 0;
}
.logo {
  display: none;
}
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .field {
    width: 100%;
  }
  label {
    text-align: initial;
  }
  input {
    border: none;
    box-shadow: none;
  }
  button {
    margin-top: 50px;
    width: 140px;
  }
}
.back-button {
  position: absolute !important;
  top: 20px;
  left: 20px;
}

@media (max-width: 770px) {
  .logo {
    display: initial;
    img {
      height: 100px;
    }
  }
}
</style>
