<template>
  <div class="hero is-fullheight">
    <div></div>
    <div class="hero-head">
      <header class="navbar">
        <div>
          <button
            @click="cancel"
            class="button is-link is-light is-small"
            style="margin-left: 20px"
          >Cancelar</button>
        </div>
      </header>
    </div>
    <div class="hero-body is-fullheight-with-navbar" style="justify-content: center;">
      <form @submit.prevent class="l-form">
        <picture>
          <img :src="this.urlImage" v-if="this.urlImage" />
          <img src="@/assets/no-profile-pic.png" v-if="!urlImage" />
        </picture>
        <input
          accept="image/x-png, image/jpg, image/jpeg"
          class="inputfile"
          data-max-size="512"
          id="file"
          name="file"
          ref="file"
          required
          type="file"
          v-on:change="this.handleFileUpload"
        />
        <label class="button is-small is-light" for="file">
          Selecione uma logo
          <strong>! menor que 512kb</strong>
        </label>
        <div class="control has-icons-left">
          <input
            @change="this.onNameChanged"
            class="input is-link"
            placeholder="nome do projeto"
            required
            type="text"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-building"></i>
          </span>
        </div>
        <div class="control has-icons-left">
          <input
            @change="this.onPhoneChanged"
            class="input is-link"
            placeholder="telefone"
            type="text"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-phone"></i>
          </span>
        </div>
        <div class="control has-icons-left">
          <input
            @change="this.onDescriptionChanged"
            class="input is-link"
            placeholder="descrição"
            type="text"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-quote-left"></i>
          </span>
        </div>
        <div class="control has-icons-left">
          <input
            @change="this.onCEPChanged"
            class="input is-link"
            placeholder="cep"
            required
            type="text"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>
        <div class="select is-small">
          <select @change="_onSegmentChanged" required v-model="selected">
            <option
              :key="option.id"
              :value="parseInt(option.id)"
              v-for="option in this.getAllSegments"
            >{{option.nome}}</option>
          </select>
        </div>
        <div class="action-buttons">
          <button @click="this.create" class="button is-link" v-if="this.isLoading == false">Criar</button>
          <progress
            class="progress is-large is-info"
            max="100"
            style="width: 100%"
            v-if="this.isLoading"
          >60%</progress>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
export default {
  name: 'NewCompany',
  data: function() {
    return {
      selected: 2
    }
  },
  computed: {
    ...mapGetters('CompanyCreateModule', ['getAllSegments']),
    ...mapState('CompanyCreateModule', ['isLoading', 'urlImage'])
  },
  methods: {
    ...mapActions('CompanyCreateModule', [
      'onNameChanged',
      'onPhoneChanged',
      'onDescriptionChanged',
      'onCEPChanged',
      'onLogoChanged',
      'onSegmentChanged',
      'handleFileUpload',
      'save',
      'resetState'
    ]),
    ...mapActions('CompaniesModule', ['getAllCompanies']),
    _onSegmentChanged: function() {
      this.onSegmentChanged(this.selected)
    },
    create: async function() {
      await this.save()
      this.$router.back()
    },
    cancel: function() {
      this.$router.back()
    }
  },
  destroyed: function() {
    this.getAllCompanies()
    this.resetState()
  }
}
</script>

<style lang="scss" scoped>
header {
  padding: 25px 0;
}
.l-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  .control {
    margin: 5px 0;
  }
  .field {
    width: 100%;
  }
  label {
    text-align: initial;
  }
  input {
    border: none;
    box-shadow: none;
  }
  button {
    margin-top: 50px;
    width: 140px;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
  }
}
</style>
