<template>
  <div style="overflow-y: auto">
    <div v-if="this.customers === Array">
      <h1>Tela exclusiva paa consultores!</h1>
      <h2>Nenhum cliente no momento!</h2>
    </div>
    <div v-else>
      <div class="hero-head">
        <div class="navbar">
          <h1 class="title">Meus clientes</h1>
        </div>
      </div>
      <div>
        <div class="list-customers" v-if="this.customers.length > 0">
          <card-customer
            :customer="customer"
            :index="index"
            :key="index"
            v-for="(customer, index) in this.customers"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardCustomer from './views/card_customer'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Customers',
  components: {
    CardCustomer
  },
  computed: {
    ...mapState('CustomersModule', ['customers'])
  },
  methods: {
    ...mapActions('CustomersModule', ['getMyCustomers'])
  },
  mounted() {
    this.getMyCustomers()
  }
}
</script>

<style>
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.list-customers {
  display: flex;
  flex-wrap: wrap;
}
.button {
  border: none !important;
}
</style>
