<template>
  <div class="main">
    <figure class="logo">
      <img src="@/assets/full-logo-blue.png" />
    </figure>
    <div class="actions-container">
      <div class="action">
        <h1>Faça login</h1>
        <h2>
          Caso já tenha uma conta e queira gerenciar
          <br />informações pessoais ou de sua empresa.
        </h2>
        <router-link to='/login' @click="this.navToLogin" class="button is-link">Login</router-link>
      </div>
      <h1>Ou</h1>
      <div class="action">
        <h1>Cadastre-se</h1>
        <h2>
          Caso ainda não tenha uma conta em nossa
          <br />plataforma principal.
        </h2>
        <router-link to="/register" class="button is-dark">Cadastre-se</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'LoginOrRegister',
  methods: {
    ...mapActions('MainModule', [
      'navToLogin',
      'navToRegister'
    ])
  }
}
</script>

<style lang="scss" scoped>
$text-color: #333;
.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: none;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  color: $text-color;
}

.actions-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.action {
  h2 {
    color: $text-color;
    font-weight: 100;
    margin-bottom: 10px;
  }
  button {
    display: block;
    width: 140px;
    margin: 10px 0;
  }
}
@media (max-width: 770px) {
  .main{
    height: 100%;
    justify-content: space-evenly;
  }
  .actions-container {
    height: 62vh;
    align-items: center;
    text-align: center;
  }
  .logo {
    display: initial;
    img {
      height: 65px;
    }
  }
  .action {
    button {
      width: 140px;
      margin: 20px auto;
    }
  }
}
</style>
