<template>
  <router-link :to="{name: 'company.edit', params:{id: company.id}}" class="card-company">
    <figure>
      <img alt src="@/assets/no-company-picture.png" v-if="!company.logo" />
      <img :src="company.logo" alt v-else />
    </figure>
    <div class="card-content">
      <div>
        <h2>{{company.nome}}</h2>
      </div>
      <div>
        <h4>{{company.segmento}}</h4>
      </div>
      <div class="card-action-position">
        <div>
          <span @click="this.delete" @click.prevent class="button icon">
            <i class="fas fa-trash"></i>
          </span>
          <router-link :to="{name: 'company.edit', params:{id: company.id}}" class="button icon">
            <i class="fas fa-edit"></i>
          </router-link>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'CompanyCard',
  props: {
    index: Number,
    company: {
      id: Number,
      nome: String,
      telefone: String,
      logo: String
    }
  },
  methods: {
    ...mapActions('CompaniesModule', ['deleteCompany']),
    delete: function() {
      if (confirm('Deseja realmente remover esse projeto?')) {
        this.deleteCompany(this.index)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.card-company {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100px;
  width: 100%;
  max-width: 350px;
  margin: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  @media (max-width: 820px) {
    & {
      max-width: 100%;
    }
  }
  figure {
    width: 100px;
    height: 100px;
    img {
      border-radius: 5px;
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 16px;
    color: #a3a3a3;
  }

  h4 {
    font-weight: 300;
    font-size: 14px;
    color: #a3a3a3;
  }

  .card-content {
    padding: 0.5rem !important;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    .card-action-position {
      display: flex;
      justify-content: flex-end;

      .button {
        border: none !important;
        z-index: 2;
      }
    }
  }
}
</style>
