<template>
  <div class="hero-body">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'User'
}
</script>

<style lang="scss" scoped>
.container {
  button {
    display: block;
    margin: 10px auto;
  }
}
.title,
.subtitle {
  text-align: center;
}
</style>
