<template>
  <div style="overflow-y: auto; max-height:100vh">
    <h1 v-if="this.companies === Array">No momento você não possui empresa</h1>
    <div v-else>
      <div class="hero-head">
        <div class="navbar">
          <h1 class="title">Projetos</h1>
          <router-link class="button icon" to="/company/create">
            <i class="fas fa-plus"></i>
          </router-link>
        </div>
      </div>
      <div>
        <div class="list-companies">
          <card-company
            :company="company"
            :index="index"
            :key="index"
            v-for="(company, index) in this.companies"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import CardCompany from './views/card_company'
export default {
  name: 'Companies',
  components: {
    CardCompany
  },
  computed: {
    ...mapState('CompaniesModule', ['companies'])
  },
  methods: {
    ...mapActions('CompaniesModule', ['getAllCompanies'])
  },
  mounted: function() {
    this.getAllCompanies()
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.list-companies {
  display: flex;
  flex-wrap: wrap;
}
.button {
  border: none !important;
}
</style>
