<template>
  <div class="card-company" @click="this.edit">
    <figure>
      <img v-if="!company.logo" src="@/assets/no-profile-pic.png" alt />
      <img v-else :src="company.logo" alt />
    </figure>
    <div class="card-content">
      <div>
        <h2>{{company.nome}}</h2>
      </div>
      <div>
        <h4>{{company.segmento}}</h4>
      </div>
      <div class="card-action-position">
        <div>
          <span @click="this.delete" class="button icon">
            <i class="fas fa-trash"></i>
          </span>
          <span  @click="this.edit" class="button icon">
            <i class="fas fa-edit"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Company',
  props: {
    index: Number,
    company: {
      id: Number,
      nome: String,
      telefone: String,
      logo: String
    }
  },
  methods: {
    ...mapActions('CompaniesModule', ['deleteCompany', 'navToPageName']),
    ...mapActions('EditCompanyModule', ['setCompanyId']),
    delete: function () {
      if (confirm('Deseja realmente remover esse projeto?')) {
        this.deleteCompany(this.index)
      }
    },
    edit: function () {
      this.setCompanyId(this.company.id)
      this.navToPageName('editCompany')
    }
  }
}
</script>

<style lang="scss" scoped>
.card-company {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100px;
  width: 100%;
  max-width: 350px;
  margin: 10px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  @media (max-width: 820px) {
    &{
      max-width: 100%;
    }
  }
  figure {
    width: 100px;
    height: 100px;
    img {
      border-radius: 5px;
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 16px;
    color: #a3a3a3;
  }

  h4 {
    font-weight: 300;
    font-size: 14px;
    color: #a3a3a3;
  }

  .card-content{
    padding: 0.5rem !important;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    .card-action-position{
      display: flex;
      justify-content: flex-end;

      .button{
        border: none !important;
      }
    }
  }
}
</style>
