<template>
  <div class="scaffold is-fullheight">
    <div class="navbar">
      <router-link class="icon is-small is-button" to="/profile">
        <i class="fas fa-user"></i>
      </router-link>
      <router-link class="icon is-small is-button" to="/companies">
        <i class="fas fa-building"></i>
      </router-link>
      <router-link class="icon is-small is-button" to="/customers">
        <i class="fas fa-book"></i>
      </router-link>
      <span @click="this._logout" class="icon is-small is-button is-top">
        <i class="fas fa-sign-out-alt"></i>
      </span>
    </div>
    <section class="hero is-fullheight" id="body">
      <router-view />
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Home',
  methods: {
    ...mapActions('MainModule', ['logout']),
    _logout: function() {
      if (this.logout()) this.$router.replace({ name: 'login-register' })
    }
  }
}
</script>

<style lang="scss" scoped>
.scaffold {
  display: flex;
  height: 100vh;
  .navbar {
    background: #1565c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    color: white;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.15);
    .is-button {
      cursor: pointer;
      background: transparent;
      color: white;
      border: none;
      width: 100%;
      height: 70px;
    }
    .is-top {
      position: absolute;
      top: 0px;
    }
  }
  .hero {
    width: 100% !important;
  }
}
</style>
